<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết thể loại</title>
    <!--css-->
    <th:block id="css"></th:block>
</head>
<body>
<th:block id="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin/genres}">Thể loại</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Chi tiết thể loại
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Quay lại
                        </button>
                        <button th:onclick="|updateGenre(${genre.getId()})|" type="button" class="btn btn-info px-4">
                            Lưu
                        </button>
                        <button type="button" class="btn btn-primary px-4">
                            Preview
                        </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button th:onclick="|deleteGenre(${genre.getId()})|" type="button" class="btn btn-danger px-4">
                            Xóa
                        </button>
                    </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-create-genre">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tên thể loại</label>
                                            <input th:value="${genre.getName()}" type="text" class="form-control" id="nameGenre" name="nameGenre"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<!--js-->
<th:block id="js">
    <script th:inline="javascript">

        function validate(){
            $('#form-create-genre').validate({
                rules: {
                    nameGenre: {
                        required: true
                    },
                },
                messages: {
                    nameGenre: {
                        required: "Tên không được để trống"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }
        function updateGenre(genreId) {
            const nameGenre = document.getElementById("nameGenre");
            validate();
            if (!$('#form-create-genre').valid()) {
                return;
            }
            axios.put(`/api/admin/genres/${genreId}`, {
                    nameGenre: nameGenre.value,
                }
            ).then(res => {
                toastr.success('Cập nhật thể loại thành công.')
            }).catch(err => {
                alert(err.response.data.message)
            })
        }
        function deleteGenre(genreId){
            const isConfirmed = window.confirm('Bạn có chắc chắn muốn xóa diễn viên này?');
            if (!isConfirmed) return;
            const url = `/api/admin/genres/${genreId}`;
            axios.delete(url)
                .then(function (response) {
                    toastr.success('Xóa thể loại thành công');
                    setTimeout(function () {
                        window.location.href = '/admin/genres'
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
        function refresh(){
            window.location.reload();
        }
    </script>
</th:block>
</body>
</html>