<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <!--css-->
    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" th:href="@{/admin/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin/dist/css/style.css}">
    </th:block>
</head>
<body>
<th:block id="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${blog.getTitle()}">

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button th:onclick="updateBlog()" type="button" class="btn btn-info px-4">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-primary px-4">
                        Preview
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-end">
                    <button th:onclick="deleteBlog()" type="button" class="btn btn-danger px-4">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input type="text" class="form-control" id="title"
                                               th:value="${blog.getTitle()}"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea id="content" th:text="${blog.getContent()}"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả ngắn</label>
                                        <textarea id="description" class="form-control" rows="3"
                                                  th:text="${blog.getDescription()}"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <select id="status" class="form-control">
                                            <option th:value="false" th:selected="${blog.getStatus() == false}">Nháp
                                            </option>
                                            <option th:value="true" th:selected="${blog.getStatus() == true}">Công
                                                khai
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="thumbnail-preview-container mb-3">
                                            <img th:src="${blog.getThumbnail()}" alt="" id="image-preview"/>
                                        </div>
                                        <label for="image" class="btn btn-info btn-flat rounded">
                                            Chọn hình ảnh
                                        </label>
                                        <input type="file" id="image" class="d-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<!--js-->
<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script th:src="@{/admin/plugins/select2/js/select2.full.min.js}"></script>
    <script th:inline="javascript">
        const blog = [[${blog}]];

        //Initialize Select2 Elements
        $(".select2").select2();

        // Initialize editor
        const easyMDE = new EasyMDE({
            element: document.getElementById("content"),
            spellChecker: false,
            maxHeight: "500px",
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
        });

        const imagePreview = document.getElementById('image-preview')
        const imageInput = document.getElementById('image')

        imageInput.addEventListener("change", (e) => {
            // Lấy ra file vừa được chọn
            const file = e.target.files[0]

            // Tạo đối tượng form data để đưa dữ liệu vào gửi đi
            const formData = new FormData()
            formData.append('file', file)

            // Goọi api sử dung axios
            axios.post(`/api/admin/blogs/${blog.id}/upload-thumbnail`, formData)
                .then(res => {
                    // Hiển thị hình ảnh vừa được upload lên
                    imagePreview.src = res.data

                    alert('Upload hình ảnh thành công.')
                })
                .catch(err => {
                    console.log(err)
                    alert(err.response.data.message)
                })
        })

        function updateBlog() {
            const updateTitle = document.getElementById("title");
            const updateDescription = document.getElementById("description");
            const updateStatus = document.getElementById("status");
            console.log(easyMDE.value());
            axios.put(`/api/admin/blogs/${blog.id}`, {
                title: updateTitle.value,
                content: easyMDE.value(),
                description: updateDescription.value,
                status: updateStatus.value
                }
            ).then(res => {
                alert('Cập nhật blog thành công.')
                window.location.reload();
            }).catch(err => {
                alert(err.response.data.message)
            })
        }
        function deleteBlog(){
            const isConfirmed = window.confirm('Bạn có chắc chắn muốn xóa blog này?');
            if (!isConfirmed) return;
            const url = `/api/admin/blogs/${blog.id}`;
            axios.delete(url)
                .then(function (response) {
                    alert('Xóa blog thành công');
                    window.location.href = "/admin/blogs";
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</th:block>
</body>
</html>