<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Đăng nhập</title>
    <!--css-->
    <th:block id="css"></th:block>
</head>
<body>
<th:block id="main-content">
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center" style="height: 65vh;">
                <div class="col-4 border border-1 p-4">
                    <h1 class="text-light">Đăng nhập</h1>
                    <div class="mb-3 input-group-lg">
                        <label for="inputEmail" class="form-label text-light"
                        >Email</label
                        >
                        <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                aria-describedby="emailHelp"
                        />
                    </div>
                    <div class="mb-3 input-group-lg">
                        <label for="inputPassword" class="form-label text-light"
                        >Mật khẩu</label
                        >
                        <input
                                type="password"
                                class="form-control"
                                id="inputPassword"
                        />
                    </div>
                    <div class="mb-3 form-check">
                        <input
                                type="checkbox"
                                class="form-check-input"
                                id="exampleCheck1"
                        />
                        <label class="form-check-label text-light" for="exampleCheck1"
                        >Ghi nhớ</label
                        >
                    </div>
                    <button th:onclick="submitFormLogin()" type="submit" class="btn btn-primary">Đăng nhập</button>
                    <div class="my-2">
                        <span class="text-light">Bạn chưa có tài khoản? <a th:href="@{/dang-ky}" class="text-primary">Đăng ký</a></span>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
<!--js-->
<th:block id="js">
    <!-- Link axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/web/js/login.js"></script>
</th:block>
</body>
</html>
