<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Phim bộ</title>
    <!--css-->
    <th:block id="css"></th:block>
</head>
<body>
<!--content-->
<th:block id="main-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h2 class="my-4 text-light">Phim bộ</h2>
                </div>
                <th:block class="col-md-2 mb-2" th:each="movie : ${pageData.getContent()}">
                    <th:block th:replace="~{web/fragments/list-movie :: list-movie(${movie})}"></th:block>
                </th:block>

                <th:block class="d-flex justify-content-center py-5" th:if="${pageData.getTotalPages() > 1}">
                    <th:block th:replace="~{web/fragments/pagination :: pagination(${pageData}, ${currentPage}, 'phim-bo')}"></th:block>
                </th:block>
            </div>
        </div>
    </section>
</th:block>
<!--js-->
<th:block id="js"></th:block>
</body>
</html>