<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Trang chủ</title>
    <!--css-->
    <th:block id="css"></th:block>
</head>
<body>
<!--content-->
<th:block id="main-content">
<!--section-->
<section>
    <div class="container mt-4">
        <div class="movie-type-heading d-flex justify-content-between">
            <h2 class="mb-4 text-light">Đề xuất</h2>
        </div>
        <div class="row">
            <th:block class="col-md-2 mb-2" th:each="movie : ${deXuat.getContent()}">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </th:block>
        </div>
    </div>
</section>
<!--section-->

<!--section-->
<section>
    <div class="container mt-4">
        <div class="movie-type-heading d-flex justify-content-between">
            <h2 class="mb-4 text-light">Phim bộ</h2>
            <a class="px-4 pt-3" th:href="@{/phim-bo}"
            >Xem tất cả</a
            >
        </div>
        <div class="row">
            <th:block class="col-md-2 mb-2" th:each="movie : ${phimBo.getContent()}">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </th:block>
        </div>
    </div>
</section>
<!--section-->

<!--section-->
<section>
    <div class="container mt-4">
        <div class="movie-type-heading d-flex justify-content-between">
            <h2 class="mb-4 text-light">Phim lẻ</h2>
            <a class="px-4 pt-3" th:href="@{/phim-le}"
            >Xem tất cả</a
            >
        </div>
        <div class="row">
            <th:block class="col-md-2 mb-2" th:each="movie : ${phimLe.getContent()}">
                <th:block th:replace="~{web/fragments/movie :: movie-item(${movie})}"></th:block>
            </th:block>
        </div>
    </div>
</section>
<!--section-->

<!--blog-->
<section>
    <div class="container my-4">
        <div class="blog-heading d-flex justify-content-between">
            <h2 class="mb-4 text-light">Tin tức</h2>
            <a class="px-4 py-2" th:href="@{/tin-tuc}"
            >Xem tất cả</a
            >
        </div>
        <div class="row">
            <div class="blog-item col-6" th:each="blog : ${blogs.getContent()}">
                <a th:href="@{/tin-tuc/{id}/{slug} (id = ${blog.getId()}, slug = ${blog.getSlug()})}">
                    <h5 th:text="${blog.getTitle()}"></h5>
                </a>
                <i th:text="${blog.getPublishedAt()}"></i>
                <a th:href="@{/tin-tuc/{id}/{slug} (id = ${blog.getId()}, slug = ${blog.getSlug()})}">
                    <p class="pe-4"
                       style="max-height: 3.6em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"
                       th:text="${blog.getContent()}"></p>
                </a>
            </div>
        </div>
    </div>
</section>
<!--blog-->
</th:block>
<!--js-->
<th:block id="js"></th:block>
</body>
</html>
