<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết diễn viên</title>
    <!--css-->
    <th:block id="css">
    </th:block>
</head>
<body>
<th:block id="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin/actors}">Diễn viên</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${actor.getName()}"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button th:onclick="|updateActor(${actor.getId()})|" type="button" class="btn btn-info px-4">
                        Lưu
                    </button>
                    <button type="button" class="btn btn-primary px-4">
                        Preview
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button th:onclick="|deleteActor(${actor.getId()})|" type="button" class="btn btn-danger px-4">
                        Xóa
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-create-actor">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tên đạo diễn</label>
                                            <input th:value="${actor.getName()}" type="text" class="form-control"
                                                   id="nameAt" name="nameAt"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input th:value="${#dates.format(actor.getBirthday(), 'yyyy-MM-dd')}" type="date" class="form-control"
                                                   id="birthdayAt" name="birthdayAt">
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea th:text="${actor.getDescription()}" id="descriptionAt"
                                                      name="descriptionAt" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="thumbnail-preview-container mb-3 border border-1">
                                                <img th:src="${actor.avatar}" alt="" id="image-preview"/>
                                            </div>
                                            <label for="image" class="btn btn-info btn-flat rounded">
                                                Chọn hình ảnh
                                            </label>
                                            <input type="file" id="image" class="d-none">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
<!--js-->
<th:block id="js">
    <script th:inline="javascript">
        const actor = [[${actor}]];
        console.log(actor)
        const imagePreview = document.getElementById('image-preview')
        const imageInput = document.getElementById('image')

        imageInput.addEventListener("change", (e) => {
            // Lấy ra file vừa được chọn
            const file = e.target.files[0]
            // Tạo đối tượng form data để đưa dữ liệu vào gửi đi
            const formData = new FormData()
            formData.append('file', file)
            // Gọi api sử dung axios
            axios.post(`/api/admin/actors/${actor.id}/upload-thumbnail`, formData)
                .then(res => {
                    // Hiển thị hình ảnh vừa được upload lên
                    imagePreview.src = res.data;
                    toastr.success('Upload hình ảnh thành công.');
                })
                .catch(err => {
                    console.log(err)
                })
        })
        function validate() {
            $('#form-create-actor').validate({
                rules: {
                    nameAt: {
                        required: true
                    },
                    birthdayAt: {
                        required: true,
                    },
                    descriptionAt: {
                        required: true
                    }
                },
                messages: {
                    nameAt: {
                        required: "Tên không được để trống"
                    },
                    birthdayAt: {
                        required: "Ngày sinh không được để trống",
                    },
                    descriptionAt: {
                        required: "Mô tả ngắn không được để trống"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }

        function updateActor(actorId) {
            const nameAt = document.getElementById("nameAt");
            const birthdayAt = document.getElementById('birthdayAt');
            const descriptionAt = document.getElementById("descriptionAt");
            validate();
            if (!$('#form-create-actor').valid()) {
                return;
            }
            axios.put(`/api/admin/actors/${actorId}`, {
                    nameAt: nameAt.value,
                    birthdayAt: birthdayAt.value,
                    descriptionAt: descriptionAt.value,
                }
            ).then(res => {
                toastr.success('Cập nhật thông tin diễn viên thành công.')
            }).catch(err => {
                console.log(err.response.data.message)
            })
        }
        function deleteActor(actorId){
            const isConfirmed = window.confirm('Bạn có chắc chắn muốn xóa diễn viên này?');
            if (!isConfirmed) return;
            const url = `/api/admin/actors/${actorId}`;
            axios.delete(url)
                .then(function (response) {
                    toastr.success('Xóa diễn viên thành công');
                    setTimeout(function () {
                        window.location.href = '/admin/actors'
                    }, 1500)
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</th:block>
</body>
</html>