<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới đạo diễn</title>
    <!--css-->
    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" th:href="@{/admin/plugins/select2/css/select2.min.css}"/>
        <link rel="stylesheet" th:href="@{/admin/dist/css/style.css}">
    </th:block>
</head>
<body>
<th:block id="main-content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Đạo diễn</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Tạo đạo diễn
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-6">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-chevron-left"></i> Quay lại
                    </button>
                    <button th:onclick="createDirector()" type="button" class="btn btn-info px-4">
                        Tạo mới
                    </button>
                    <button type="button" class="btn btn-primary px-4">
                        Preview
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form-create-blog">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Tên đạo diễn</label>
                                            <input type="text" class="form-control" id="nameDr" name="nameDr"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input type="date" class="form-control" id="birthdayDr" name="birthdayDr">
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả ngắn</label>
                                            <textarea id="descriptionDr" name="descriptionDr" class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</th:block>
<!--js-->
<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>

    <script th:src="@{/admin/plugins/select2/js/select2.full.min.js}"></script>
    <script>
        function validate(){
            $("#content").css({
                "display": "block",
                "height": "0",
                "padding": "0",
                "border": "none"
            })
            $('#form-create-blog').validate({
                rules: {
                    nameDr: {
                        required: true
                    },
                    birthdayDr: {
                        required: true,
                    },
                    descriptionDr: {
                        required: true
                    }
                },
                messages: {
                    nameDr: {
                        required: "Tên không được để trống"
                    },
                    birthdayDr: {
                        required: "Ngày sinh không được để trống",
                    },
                    descriptionDr: {
                        required: "Mô tả ngắn không được để trống"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        }
        function createDirector() {
            const nameDr = document.getElementById("nameDr");
            const birthdayDr = document.getElementById('birthdayDr');
            const descriptionDr = document.getElementById("descriptionDr");
            validate();
            if (!$('#form-create-blog').valid()) {
                return;
            }
            axios.post(`/api/admin/directors`, {
                    nameDr: nameDr.value,
                    birthdayDr: birthdayDr.value,
                    descriptionDr: descriptionDr.value,
                }
            ).then(res => {
                toastr.success('Tạo mới blog thành công.')
                console.log(res.data.id);
                setTimeout(function () {
                    window.location.href = `/admin/directors/${res.data.id}/detail`;
                }, 1500)
            }).catch(err => {
                alert(err.response.data.message)
            })
        }
    </script>
</th:block>
</body>
</html>